* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
button {
  width: 8rem;
  border: none;
  height: 2rem;
  background-color: black;
  border-radius: 1rem;
  color: orangered;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}
